body {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdJd-MN3O0464zFKMUZq9RIEE3ZB7Y2qwVTQ&usqp=CAU");
    color:rgb(4, 12, 4);
    background-repeat: no-repeat;
    background-size:cover;
    background-size: contain;
}
  
  table {
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #080808;
    color:black;
  }
  #display{
    background-color: #080808;
  }
  
  td {
    width: 25%;
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
    cursor: pointer;
    color: #0f0;
  }
  
  td:hover {
    background-color: #0e0c0c;
  }
  
  .operator {
    background-color: #f00;
    color: #fff;
  }
  
  .equals {
    background-color: #007bff;
    color: #fff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    font-size: 18px;
    color: #0f0;
  }
  
  hr {
    background-color: #333;
    border: none;
    height: 1px;
  }
#equal{
  text-align: center;
}
  
